/*! Hexane CSS Styles | Apache License 2.0 | hexane.tk
    Based on: HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	touch-action: manipulation;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #a74233
}

a:hover {
    color: #ac2321
}

a,.active {
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease
}

.mobile-hide,.mobile-hide-block,.mobile-hide-inline-block,.mobile-hide-inline-block.contiguous {
    display: none
}

.spacer {
    display: inline-block;
    width: 10px
}

.contiguous {
    display: inline-block;
    margin: 0;
    margin-right: 6px
}

audio,canvas,iframe,img,svg,video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

kbd {
    font-size: 1em;
    background-color: #333;
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0 2px;
    text-transform: capitalize
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300
}

body {
    font: 16px/26px Raleway,Helvetica Neue,Arial;
    background: #eee;
    position: relative;
	touch-action: manipulation;
}

.site-container {
    width: 100%;
    height: 100%;
    opacity: 0
}

sup {
    font-size: xx-small;
    vertical-align: super
}

.header-container {
    position: relative;
    overflow: hidden;
    background: #eee;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.main aside {
    border-top: 1px solid #d8d8d8
}

.footer-container {
    position: relative;
    overflow: hidden;
    background: #555;
    color: #eee
}

.main aside {
    background: #2f76ba
}

#header-logo {
    box-sizing: border-box;
    float: left;
    height: 60px;
    padding: 19px 0;
    margin-right: 10px
}

.title {
    color: #464646;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 60px;
    margin: 0 30px
}

.title .title-bold,.footer-container .footer-bold {
    font-weight: 600
}

#title-subsite {
    display: none
}

nav {
    display: none
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

nav li {
    display: block;
    height: 80px
}

nav a {
    margin-bottom: 10px;
    padding: 15px 0;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    text-transform: uppercase;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    -ms-transition: background .5s ease;
    transition: background .5s ease
}

nav a:hover,nav a:visited {
    color: #333
}

nav a:hover {
    background: rgba(100,100,100,0.1)
}

.main-container {
    background: #eee;
    color: #000
}

.main {
    padding: 30px 0
}

.main article h1 {
    font-size: 2em;
    font-weight: 600
}

.main aside {
    color: white;
    padding: 0 5% 10px
}

.footer-container footer {
    height: 50px;
    line-height: 50px;
    padding: 0
}

.footer-container footer h3 {
    margin: 0 30px;
    font-weight: 400;
    font-size: 14px
}

.ie7 .title {
    padding-top: 20px
}

.title sup {
    text-transform: lowercase;
    margin-left: -10px;
    vertical-align: baseline;
    position: relative;
    top: -12px;
    font-size: 20px
}

.main section>div {
    padding-left: 12px;
    padding-right: 12px
}

#expr-field, #expr-field.mq-math-mode {
    box-sizing: border-box;
    background-color: #444;
    border: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 87px;
    padding: 5px 0;
    outline: 0;
    font-size: 2em;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.mq-math-mode span.mq-supsub.mq-sup-only {
    margin-bottom: -0.2em;
    text-align: left
}

#editor {
    padding: 0 12px;
}

#expr-field .mq-root-block {
    overflow-x: auto;
    overflow-y: visible;
    min-height: 50px
}

.mq-root-block,.mq-math-mode span.mq-root-block {
    overflow-x: auto;
    overflow-y: visible;
}

#expr-field * {
    color: #fafafa;
    border-color: #fafafa
}

#expr-field .mq-cursor {
    color: #ddd;
    border-color: #ddd
}

#expr-field .mq-matrixed-container {
    filter: progid:DXImageTransform.Microsoft.Chroma(color='black')
}

#expr-field .mq-nthroot {
    font-size: 40%;
    color: #fafafa
}

nav a {
    font-weight: 500
}

#answer {
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    line-height: 35px;
    background: #393939;
    color: #fafafa;
    overflow-x: auto;
    overflow-y: hidden
}

#history .history-text,#memory .memory-tile,#keypad {
    font-family: Consolas,Courier New,times,Symbola,monospace
}

#keypad {
    box-sizing: border-box;
    background: #393939;
    position: relative;
    padding-top: 12px;
    padding-bottom: 9px;
    font-size: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: auto;
    overflow-y: hidden
}

#keypad .key-row {
    min-width: 1150px;
	padding: 0;
}

#keypad .key {
    box-sizing: border-box;
    height: 35px;
    width: 37px;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
	vertical-align:top;
    background-color: #2a2929;
    color: #efefef;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    -ms-transition: background .5s ease;
    transition: background .5s ease;
	overflow:hidden;
	position:relative;
}

#keypad .key span{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#keypad .key:hover {
    background-color: #1f1d1d
}

#keypad .key.num-key {
    background-color: #a74233
}

#keypad .key.num-key:hover {
    background-color: #ac2321
}

#keypad .key.ctrl-key {
    background-color: #222
}

#keypad .key.ctrl-key:hover {
    background-color: #161616
}

#keypad .key.double-wid {
    width: 78px
}

#keypad .key.triple-wid {
    width: 121px
}

#keypad #batch-btn{
	font-size:16px;
}

#history {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 32px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
    position: relative
}

#history .history-tip {
    color: #aaa;
    font-size: 12px;
    margin: 0 0 2px 0;
    position: absolute;
    bottom: 9px
}

#history .history-clear {
    color: #fa9;
    padding: 5px;
    border-radius: 4px;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    -ms-transition: background .5s ease;
    transition: background .5s ease
}

#history .history-clear:hover {
    background-color: #2f2f2f
}

#history .history-tile,#memory .memory-tile {
    display: inline-block;
	vertical-align:top;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 0 25px 0 15px;
    margin-right: 10px;
	margin-bottom: 10px;
    background: #a96433;
    overflow: hidden;
    position: relative;
    left: 0;
    cursor: pointer;
	
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease
}

#memory .contiguous {
    height: 55px;
	vertical-align:top;
	margin-bottom: -4px;
}

#history .history-tile:hover,#memory .memory-tile:hover {
    background: #a15527
}

#history .history-delete::before {
    content: '✕';
    font-weight: 300;
    color: #e9a453;
    font-size: 13px;
    padding: 4px 6px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    -ms-transition: background .5s ease;
    transition: background .5s ease
}

#history .history-delete:hover::before {
    background-color: #bc6513
}

#history .history-delete {
    float: right;
    cursor: pointer;
    z-index: 10;
    position: relative;
    right: -6px;
    height: 10px;
    width: 10px
}

#memory {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 32px;
    overflow-x: auto;
    overflow-y: hidden;
	background: #393939;
    font-size: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative
}

#memory .memory-tip {
    color: #aaa;
    font-size: 12px;
    margin: 0 0 2px 0;
    position: absolute;
    bottom: 9px
}

#memory .memory-tile {
    padding: 0 11px;
    width: 14px;
    margin-right: 8px;
	margin-bottom: 4px;
    text-align: center
}

#config {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    background: #333
}

#config h3 {
    margin: 0 0 4px 0;
    font-size: 13px;
    color: #eee
}

#config .config-tip {
    color: #aaa;
    font-size: 12px;
    cursor: help;
    margin: 0
}

#config form input {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 12px;
    padding: 3px 0 4px 0;
    margin-right: 5px
}

#config form label {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 12px;
    padding: 3px 0;
    margin-right: 15px
}

#config fieldset {
    display: inline-block
}

#periodic-table{
	font-size: 11px;
	line-height: 1.4em;
	position: fixed;
	width: 100%;
	max-height: 70vh;
	bottom: 0;
	background: #333;
	opacity: 0.8;
	z-index: 10000;
	padding: 0;
	overflow: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	display: none;
	opacity: 0;
}

#periodic-table table{
	padding: 10px;
	padding-right: 60px;
	border-spacing: 5px;
	border-collapse: separate;
}

#periodic-table td, #periodic-table-close{
	padding: 2px 6px;
	background-color: #a74233;
	
	cursor: pointer;
	
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
	
	width:2em;
}

#periodic-table td:hover{
	background-color: #ac2321
}

#periodic-table th{
	padding: 2px 6px;
}

#periodic-table td.table-spacer{
	cursor: default;
	background-color: transparent;
}

#periodic-table td span{
	display: block;
}

#periodic-table td .elem-name{
	font-weight: bold;
}

#periodic-table-close{
	position: fixed;
	bottom: 10px;
	right: 10px;
	
	z-index: 10000;
	
	background-color: transparent;
	
	font-size: 20px;
	text-align:center;
	
	height: 30px;
	width: 30px;
	padding:0;
	line-height: 30px;
	
	border-radius: 50%;
}

#periodic-table-close:hover{
	background-color: rgba(20,20,20,0.5);
}

.ptable-key{
	text-align: center;
	font-size: 14px;
	font-family: Consolas,Courier New,times,Symbola,monospace;
	font-weight: 600;
}

#periodic-table .ptable-key .elem-name{
	font-weight: 600;
}

.main-container .wrapper {
    width: 100%;
    padding: 0
}

.main-container {
    background: #444;
    color: #fafafa
}

@media only screen and (min-width: 500px) {
    nav {
        position:relative;
        width: 38%;
        height: 80px;
        display: none
    }

    nav li {
        display: inline-block;
        width: 50px;
        height: 80px;
        margin: 0;
        vertical-align: middle;
        margin-left: 10px
    }

    nav a {
        box-sizing: border-box;
        padding: 12px 5%;
        height: 80px;
        line-height: 80px;
        right: 0;
        margin-bottom: 0
    }

    nav li:first-child a {
        margin-left: 0
    }

    nav li:last-child a {
        margin-right: 0
    }

    #title-subsite {
        display: inline
    }

    .mobile-hide {
        display: inline
    }

    .mobile-hide-inline-block,.mobile-hide-inline-block.contiguous {
        display: inline-block
    }

    .mobile-hide-block {
        display: block
    }

    .main section>div {
        padding-left: 20px;
        padding-right: 20px
    }

    #editor {
        padding: 0 12px
    }

    nav ul li {
        display: inline
    }

    .oldie nav a {
        margin: 0 .7%
    }
	
	#expr-field,#expr-field.mq-math-mode {
		padding: 10px 0;
		font-size: 1.9em;
	}
	
	#answer {
        height: 47px;
        line-height: 42px
    }
}

@media only screen and (min-width: 768px) {
    .title {
        float:left;
        line-height: 80px
    }

    #header-logo {
        height: 80px;
        margin-right: 15px
    }

    nav {
        float: right;
        width: 38%
    }

    .main article {
        float: left;
        width: 100%
    }

    .main aside {
        float: right;
        width: 28%
    }

    .main section>div {
        padding-left: 37px;
        padding-right: 37px
    }

    #editor {
        padding: 0 37px
    }

    #expr-field,#expr-field.mq-math-mode {
		padding: 25px 0;
        min-height: 220px
    }

    #expr-field .mq-root-block {
        min-height: 210px
    }

    #keypad .key {
        margin-right: 8px;
        margin-bottom: 6px;
        width: 45px;
		font-size: 14px;
    }

    #keypad .key.double-wid {
        width: 98px
    }

    #keypad .key.triple-wid {
        width: 151px
    }
	
	#keypad #batch-btn{
		font-size:20px;
	}

    #keypad {
        padding-top: 23px;
        padding-bottom: 17px
    }

    #answer {
        height: 70px;
        line-height: 65px
    }
	
	#periodic-table{
		opacity: 1;
	}
}

@media only screen and (min-width: 1140px) {
    .header-container .wrapper,.footer-container .wrapper {
        margin:0 10px
    }
}

.hidden {
    display: none !important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom:1}

@media print {
    *,*:before,*:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,a[href^="javascript:"]:after {
        content: ""
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
}
