.header-content{
    padding: 30px;
    background-color: #eee;
}
.header-content-left{
    display: flex;

}
.header-content-left h1{
    margin-left: 30px;
}
.header-content-left img{
    width: 10%;
}
textarea{
    width: 100%;
    background-color: #555;
    color: white;
    font-size: 30px;
}
.key1 {
    width: 45px;
    height: 35px;
}
.key2 {
    width: 98px;
    height: 35px;
}
.orange {
    background: #a74233;
}
.grey {
    background: #2a2929;
}
.darkGrey {
    background: #222;
}
.textColor {
    color: #efefef;
}
.custom-key span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 6px 0;
}
.custom-key {
    display: flex;
    
}
.calculator-content {
    padding: 23px 37px 17px;   
    background: #393939; 
}